<!DOCTYPE html>
<head>
  <title>Mental wellbeing App</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='man.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img class ="outer-shadow" id="bg" class="center img-fluid" src="{{ url_for('video_feed') }}" />
  <img src="{{ url_for('static', filename='man.png') }}" class="icon" width="500" height="50" />
  <h4>Tell me a joke</h4>
  <form action="/" method="post">
    <input type="text" name="question" placeholder="Enter text" required />
    <input type="submit" value="Generate Jokes" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
